h1 {
    font-size: 200px;
    color: rgb(34, 34, 34);
    vertical-align:middle;
    text-shadow: 2px 2px 2px #000000;
    vertical-align: middle;
  }

\\body {
    background-image: url('img/back.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }